:root {
    --color-primary: rgb(59, 59, 59);
    --color-secondary: rgb(39, 40, 46);
    --color-yellow: rgb(201, 197, 4);
    --color-blue: rgb(0, 119, 255);
    --color-white: rgb(255,255,255);
}

* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
}

.nav {
    height: 10vh;
    width: 100vw;
    display: block;
    background-color: red;
    font-size: 35px;
}


.hamburger {
    background-color: gray;
    height:90vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer1 {
    position: relative;
    top: 180px;
    z-index: 7;
}

.layer2 {
    position: relative;
    top: 150px;
    z-index: 6;
}

.layer3 {
    position: relative;
    top: 120px;
    z-index: 5;
}

.layer4 {
    position: relative;
    top: 90px;
    z-index: 4;
}

.layer5 {
    position: relative;
    top: 60px;
    z-index: 3;
}

.layer6 {
    position: relative;
    top: 30px;
    z-index: 2;
}

.layer7 {
    position: relative;
    top: 0px;
    z-index: 1;
}

.hamburger img {
    max-height: 12vh;
    width: 20vw;
}

.description {
    height: 90vh;
    width: 40%;
    background-color: darkblue;
}